<nav class="navbar flex drop-shadow-lg sticky top-0 justify-between z-50">
  <div class="navbar-logo flex items-center my-2 px-4">
    <img src="assets/images/logo_200w.png" class="mr-2" alt="spacemuffins">
    <div class="navbar-logo-title">
      <span class="font-thin">Space</span><span class="font-extrabold">muffins</span>
    </div>
  </div>
  <div class="navbar-end items-center hidden lg:flex">
    <a mat-button [routerLink]="['/quizzen']" routerLinkActive="active-link">
      <mat-icon fontSet="fas" fontIcon="fa-list"></mat-icon>
      Quizoverzicht
    </a>
    <a mat-button>
      <mat-icon fontSet="fas" fontIcon="fa-calendar-alt"></mat-icon>
      Kalender
    </a>
    <button mat-button [matMenuTriggerFor]="statsMenu">
      <mat-icon fontSet="fas" fontIcon="fa-chart-bar"></mat-icon>
      Statistieken
    </button>
    <mat-menu #statsMenu="matMenu">
      <a mat-menu-item>
        <mat-icon>person</mat-icon>
        Mijn statistieken
      </a>
      <a mat-menu-item>
        <mat-icon>group</mat-icon>
        Team statistieken
      </a>
    </mat-menu>
    <div class="ml-10">
      <a mat-button>
        <mat-icon>fingerprint</mat-icon>
        Login
      </a>
    </div>

  </div>
  <div class="flex lg:hidden">
    <button mat-button class="sidenav-button" (click)="onToggleSidenav()">
      <mat-icon [inline]="true">menu</mat-icon>
    </button>
  </div>
</nav>
